You must give at least one requirement to install (see "pip help install")
Storing complete log in /home/cmart/.pip/pip.log
Creating new virtualenv environment in localConflict-env
  New python executable in localConflict-env/bin/python2
  Also creating executable in localConflict-env/bin/python
